@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');
.footer {
    text-align: center;
    padding: 20px 0;
    color: #0f0f0f;
    margin-top: 13%;
  }
  
  .footer-terms {
    font-size: 13px;
    margin-bottom: 20px;
  }
  
  .footer-terms a {
    text-decoration: none;
    margin: 0 20px;
  }
  
  .footer-terms a:hover {
    text-decoration: underline;
  }
  
  .footer-language {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .footer-info {
    font-size: 13px;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #0f0f0f;
      padding: 50px;
      text-align: center;
      margin-top: 20px;
    }
  
    .footer .footer-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
  
    .footer .footer-info a {
      margin: 2px 0;
      padding: 0 10px;
    }
  }